<template>
  <h1>Oh oh! The Page you have been looking for was out of our reach</h1>
  <br />
  <br />
  <router-link to="/">Go to Home</router-link>
</template>

<script>
export default { name: "NotFound" };
</script>

<style>
</style>