<template>
  <h1>Profile Component</h1>
  <h1>You are currently inside {{ name }} url</h1>
</template>

<script>
export default {
  name: "Profile",
  data() {
    return {
      name: "",
    };
  },
  updated() {
    const route = window.location.pathname;
    this.name = route;
  },
};
</script>
