<template>
  <div>
    <h1>Employee list</h1>
    <div v-bind:style="styleObject">
      <table border="2">
        <tr>
          <td>Name</td>
          <td>Age</td>
          <td>Salary</td>
        </tr>
        <h3 v-if="employeeArr == undefined">Loading...</h3>
        <h4 v-if="employeeArr == undefined">
          taking too much time?Refresh the tab
        </h4>
        <tr v-for="item in employeeArr" v-bind:key="item.id">
          <td>{{ item.employee_name }}</td>
          <td>{{ item.employee_age }}</td>
          <td>{{ item.employee_salary }}</td>
        </tr>
      </table>
    </div>
  </div>
</template>
<script>
// import Vue from "vue";
import axios from "axios";
// import VueAxios from "vue-axios";
// Vue.use(VueAxios, axios);
export default {
  name: "Employee",
  data() {
    return {
      employeeArr: undefined,
      styleObject: {
        color: "red",
        fontSize: "13px",
        display: "flex",
        textAlign: "center",
        justifyContent: "center",
      },
    };
  },
  mounted() {
    axios
      .get("https://dummy.restapiexample.com/api/v1/employees")
      .then((res) => {
        alert(res.data.message);
        console.log(res.data.data);
        this.employeeArr = res.data.data;
      })
      .catch((err) => {
        console.error(err);
      });
  },
};
</script>