<template>
  <h1>Child Component</h1>
  <button v-on:click="getChild(Cname)">Send Cname to Parent</button>
</template>

<script>
export default {
  name: "Child Component",
  data() {
    return {
      Cname: "Petigrue",
    };
  },
  props: {
    getChild: Function,
  },
};
</script>

<style>
</style>