<template>
  <div>
    <h1>{{ title }}</h1>
    <button v-on:click="chilToParent">Change Title</button>
  </div>
</template>
<script>
export default {
  name: "ChildtoParent",
  data() {
    return {
      title: "Child Component",
    };
  },
  methods: {
    chilToParent() {
      this.$emit("Changetitle", "Props has been passed");
    },
  },
};
</script>