<template>
  <div>
    <h1 style="white-space: pre">{{ title }}</h1>
    <h1>{{ message }}</h1>
    <input v-model="message" />
    <textarea v-model="title" />
  </div>
</template>

<script>
export default {
  name: "dataBindDemo",
  data() {
    return {
      message: "hi",
      title: "DATA BINDING IN VUE USING V-MODEL",
    };
  },
};
</script>