<template>
  <h1>Dynamic Component</h1>
  <button @click="tab = 'Php'">Php</button>
  <button @click="tab = 'Node'">NodeJS</button>
  <button @click="tab = 'Java'">Java</button>
  <component :is="tab" />
</template>

<script>
import Java from "./DynamicEx/Java.vue";
import Node from "./DynamicEx/Node.vue";
import Php from "./DynamicEx/Php.vue";
export default {
  name: "dynamic component",
  data() {
    return {
      tab: "Java",
    };
  },
  components: { Java, Node, Php },
};
</script>

<style>
</style>