<template>
  <div>
    <p v-html="header"></p>
    <table border="1px">
      <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
      </tr>

      <tr v-for="user in users" :key="user.id">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </table>
    <button v-bind:disabled="open">
      {{ open ? "Disabled Button" : "Enabled button" }}</button
    ><br />
    <br />
    <button v-on:click="toggle">Toggle</button>
  </div>
</template>
<script>
export default {
  name: "ForDemo",
  props: {
    data: String,
  },
  data() {
    return {
      users: [
        { id: 1, name: "haresh", email: "haresh@gmail.com" },
        { id: 2, name: "Suresh", email: "Suresh@gmail.com" },
        { id: 3, name: "mahesh", email: "mahesh@gmail.com" },
      ],
      open: false,
      header: "<p>Welcome To Vue Demo Project</p>",
    };
  },
  methods: {
    toggle() {
      this.open = !this.open;
    },
  },
};
</script>