<template>
  <div>
    <h1>Form using Vue JS</h1>
    <form @submit="getLogin">
      <input
        type="text"
        v-model="loginForm.username"
        placeholder="Enter your Username"
      /><br /><br />
      <input
        type="password"
        v-model="loginForm.password"
        placeholder="Enter your Password"
      /><br /><br />

      <h1>Hobbies</h1>

      <input
        type="checkbox"
        value="chess"
        v-model="loginForm.hobbies"
        id="chess"
      />
      <label for="chess">Chess</label>
      <br /><br />

      <input
        type="checkbox"
        value="coding"
        v-model="loginForm.hobbies"
        id="coding"
      />
      <label for="coding">Coding</label>
      <br /><br />

      <h1>Gender</h1>

      <label for="male">male</label>
      <input type="radio" value="male" v-model="loginForm.Gender" id="male" />
      <br /><br />
      <label for="female">Female</label>
      <input
        type="radio"
        value="female"
        v-model="loginForm.Gender"
        id="female"
      />
      <br /><br />

      <button type="submit">Login</button><br />
    </form>
  </div>
</template>
<script>
export default {
  name: "Form",
  data() {
    return {
      loginForm: {
        username: "",
        password: "",
        hobbies: [],
        Gender: null,
      },
    };
  },
  methods: {
    getLogin(e) {
      e.preventDefault();
      confirm(
        `Welcome ${this.loginForm.username}, Your password : ${this.loginForm.password} Your Gender : ${this.loginForm.Gender} and You like ${this.loginForm.hobbies}
        )}`
      );
    },
  },
};
</script>