<template>
  <div>
    <h1>Hello</h1>
    <h1 v-if="show">{{ data }}</h1>
    <h1 v-else>Else part</h1>
    <h1>{{ msg }}</h1>
    <button v-on:click="display">Change Visibilty</button>
  </div>
</template>
<script>
export default {
  name: "home",
  props: {
    data: String,
    msg: String,
  },
  data() {
    return {
      show: false,
    };
  },
  methods: {
    display() {
      this.show = !this.show;
    },
  },
};
</script>