<template>
  <div>
    <h1 v-if="show">Life Cycle Methods in VUE JS</h1>
    <button v-on:click="removeTitle">Click to Destroy Title</button>
  </div>
</template>
<script>
export default {
  name: "LifeCycleMethod",
  data() {
    return {
      show: true,
    };
  },
  methods: {
    removeTitle() {
      this.show = !this.show;
    },
  },
  created() {
    alert("Created!");
  },
  beforeCreate() {
    alert("Before Created!");
  },
  mounted() {
    alert("Mounted dom!");
  },
  beforeMount() {
    alert("Before Dom Mounted");
  },
  beforeUnmount() {
    alert("destroyed");
  },
};
</script>