<template>
  <div>
    <h1 id="title">{{ Pname }} {{ Lname }}</h1>
    <Child :getChild="getChild" />
  </div>
</template>

<script>
import Child from "./Child.vue";
export default {
  name: "Parent",
  data() {
    return {
      Pname: "PETER",
      Lname: "",
    };
  },
  components: { Child },
  methods: {
    getChild(item) {
      this.Lname = item;
    },
  },
};
</script>

<style>
#title {
  color: chocolate;
  background-color: cornsilk;
}
</style>