<template>
  <div>
    <!-- <h1>Child Component</h1> -->
    <h1 v-for="user in users" :key="user.name">
      {{ user.name }}<br />
      {{ user.friendOF }}
    </h1>
  </div>
</template>

<script>
export default {
  name: "child",
  props: ["users"],
};
</script>