<template>
  <h1>Watcher's Example</h1>
  <h1>select any number between 1 to 10</h1>
  <h1>{{ counter }}</h1>
  <button v-on:click="increaseCounter">+</button>&nbsp;&nbsp;
  <button v-on:click="decreaseCounter">-</button><br />
  <br />
  <button v-on:click="SubmitNumber">Submit</button>
  <br />
  <br />
  <h1 v-if="submitNo">Your value is {{ counter }}</h1>
  <SlotsExample>Thanks!</SlotsExample>
</template>

<script>
export default {
  name: "Watcher example",
  data() {
    return {
      counter: 0,
      submitNo: false,
    };
  },
  methods: {
    increaseCounter() {
      this.counter += 1;
      this.submitNo = false;
    },
    decreaseCounter() {
      this.counter -= 1;
      this.submitNo = false;
    },
    SubmitNumber() {
      this.submitNo = true;
    },
  },
  watch: {
    counter(val, old) {
      if (val > 10 && val > old) {
        alert("Value is going greater than 10");
        this.counter = 10;
      }
      if (val < 0) {
        alert("Value is going less than 0");
        this.counter = 0;
      }
    },
  },
};
</script>

<style>
.hone {
  color: orange;
}
</style>