<template>
  <!-- <img alt="Vue logo" src="./assets/logo.png" /> -->
  <!-- <HelloWorld msg="Welcome to Your Vue.js App" /> -->
  <!-- <Home data="home data" msg="12" /> -->
  <!-- <FormDemoVue /> -->
  <!-- <ApiFetchVue /> -->
  <!-- <PropsinVue v-bind:users="users" /> -->
  <!-- <ForDemo />
  <DataBinding />-->
  <!-- <h1>{{ title1 }}</h1> -->
  <!-- <DynamicCompoVue /> -->
  <!-- <WatcherVue /> -->
  <div id="nav">
    <div id="logoSection">
      <img src="./assets/logo.png" id="imgLogo" />
      <h2>Vue Demo Project</h2>
    </div>
    <div>
      <router-link to="/" class="link">Home</router-link>&nbsp;
      <router-link to="/profile" class="link">Profile</router-link>&nbsp;
      <router-link to="/about" class="link">About</router-link>&nbsp;
      <router-link to="/contact" class="link">Contact us</router-link>&nbsp;

      <router-link to="/profile/abc" class="link">ABC's Profile</router-link
      >&nbsp;
      <router-link to="/profile/efg" class="link">EFG's Profile</router-link
      >&nbsp;
      <router-link to="/profile/hij" class="link">HIJ's Profile</router-link
      >&nbsp;
    </div>
  </div>
  <div class="main">
    <router-view />
  </div>
  <!-- <ChildtoParent v-on:Changetitle="updateTitleText($event)" /> -->
  <!-- <PropsinVue /> -->
</template>

<script>
// import DynamicCompoVue from "./components/DynamicCompo.vue";
// import WatcherVue from "./components/Watcher.vue";

// import ParentVue from "./components/Parent.vue";
// import ApiFetchVue from "./components/ApiFetch.vue";
// import FormDemoVue from "./components/FormDemo.vue";
// import LifeCycleMethodVue from "./components/LifeCycleMethod.vue";
// import ChildtoParent from "./components/ChildtoParent.vue";
// import DataBinding from "./components/DataBinding.vue";
// import HelloWorld from "./components/HelloWorld.vue";
// import ForDemo from "./components/ForDemo.vue";
// import Home from "./components/Home.vue";
// import PropsinVue from "./components/PropsinVue.vue";

export default {
  name: "App",
  components: {
    // HelloWorld,
    // Home,
    // FormDemoVue,
    // LifeCycleMethodVue,
    // PropsinVue,
    // ForDemo,
    // DataBinding,
    // ChildtoParent,
    // ApiFetchVue,
    // PropsinVue,
    // WatcherVue,
    // DynamicCompoVue,
    // ParentVue,
  },
  data() {
    return {
      title1: "App Component",
      users: [
        { name: "abc", friendOF: "efg" },
        { name: "lmno", friendOF: "hij" },
      ],
    };
  },
  methods: {
    updateTitleText(title) {
      this.title1 = title;
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
#logoSection {
  display: flex;
  align-items: center;
}
.main {
  text-align: center;
}
#nav {
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lawngreen;
  padding: 10px 30px 10px 30px;
}
#imgLogo {
  width: 50px;
  height: 50px;
}
.link {
  text-decoration: none;
  background-color: orange;
  color: black;
  padding: 10px 30px;
}
</style>
